// app global css in SCSS form
.brand_so {
  font-family: 'Londrina solid', cursive;
  color: #e97b2f;
}
.brand_sb {
  font-family: 'Londrina solid', cursive;
  color: #134f7b;
}
.brand_sw {
  font-family: 'Londrina solid', cursive;
  color: #ffffff;
}
.brand_bo {
  font-family: 'Londrina Shadow', cursive;
  color: #e97b2f;
}
.brand_bb {
  font-family: 'Londrina Shadow', cursive;
  color: #134f7b;
}
.brand_bw {
  font-family: 'Londrina Shadow', cursive;
  color: #ffffff;
}
.my-card {
  width: 100%;
  background: rgba(255, 255, 255, 0.164);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
